.modal {
    display: block;
}
.delButton {
    height: auto;
    color: black;
    border: 0;
}

.delButton:hover {
    background-color: brown;
    color: white;
    border-radius: 5px;
}
/* .pagination {
    display: none;
} */
.pagination-active {
    display: flex;
    flex-direction: row;

    list-style: none;
}
.error {
    display: none;
    color: brown;
}
.button-active {
    border: 0;
    font-weight: 400;
}

.show {
    display: block;
}